@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap');


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.container-game {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 38vw;
    height: 38vw;
    background-color: black;
    gap: 4px;
    align-items: center;
}

h1 {
    font-family: 'Oxanium', sans-serif;
}

.content-game-line-0,
.content-game-line-1,
.content-game-line-2 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4px;
}

.content-game {
    text-align: center;
    width: 100%;
    height: 100%;
    background: lightblue;
    cursor: pointer;
    font-size: 8vw
}

.animation {
    animation: win 0.5s infinite linear;
}

button {
    width: 20%;
    outline: none;
    border: none;
    background-color: rgb(2, 115, 152);
    color: white;
    font-weight: 600;
    border: 1px inset white;
    cursor: pointer;
    padding: 1%;
    font-size: 1vw;
}

@keyframes win {
    from {
        background: white;
    }

    to {
        background: rgb(8, 232, 27);
    }
}

@media screen and (max-width:600px) {
    .container-game {
        width: 80vw;
        height: 80vw;
    }

    .content-game {
        font-size: 18vw;
    }

    button {
        width: 30%;
        font-size: 2vw;
    }
}