@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap');


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 0;
    padding: 0;
}

.container-game {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 36vw;
    height: 36vw;
    gap: 4px;
    align-items: center;
    background-color: black;
    margin: 28px;
}

h1 {
    font-family: 'Oxanium', sans-serif;
    color: black;
    font-size: 3vw;
    margin: 0;
    padding: 10px;
}

.content-game-line-0,
.content-game-line-1,
.content-game-line-2 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4px;
}

.content-game {
    text-align: center;
    width: 100%;
    height: 100%;
    background: white;
    cursor: pointer;
    font-size: 8.5vw;
    color: black;
}

.animation {
    animation: win 0.5s infinite linear;
}

button {
    width: 10%;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    font-weight: 900;
    border: 5px solid black;
    cursor: pointer;
    padding: 1%;
    font-size: 1.2vw;
    margin: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
}

button:hover {
    background-color: black;
    color: white;
}

@keyframes win {
    from {
        color: white;
    }

    to {
        color: rgb(11, 169, 24);
    }
}

@media screen and (max-width:600px) {
    .container-game {
        width: 80vw;
        height: 80vw;
    }

    h1 {
        font-size: 8vw;
    }

    .content-game {
        font-size: 18vw;
    }

    button {
        width: 45%;
        font-size: 3vw;
    }
}
